* {
  margin: 0;
}
body {
  font-family: "Cinzel Decorative", serif;
}
.itembox img {
  width: 160px;
  height: auto;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(20, 69, 74);
  margin: 0;
  padding: 10px 48px;
  /* box-shadow: 4px 4px 4px black; */
}
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: rgba(32, 255, 218, 0.523);
  text-shadow: 1px 1px 1px black;
}
header ul {
  margin-right: 40px;
}
.listitem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
/* header */
/* intro */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 16px; */

  /* align-items: center; */
}
.intro {
  background-color: rgb(25, 84, 91);
  padding: 16px 48px;
  color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.pic {
  margin: 20px 40px;
}
.pic img {
  border-radius: 8px;
}
.pic img:hover {
  box-shadow: 1px 1px 15px black;
}
.title button {
  color: white;
  background-color: rgb(26, 26, 26);
  border: none;
  padding: 8px 24px;
  border-radius: 6px;
}
.title button:hover {
  color: rgb(0, 156, 156);
  background-color: white;
  box-shadow: 1px 1px 15px black;
  cursor: pointer;
}
/* intro */
/* product */
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 40px 40px;
  background-color: rgb(234, 255, 255);
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.itembox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  gap: 16px;
  margin: 8px;
  flex-wrap: wrap;
  color: black;
  text-align: center;
}
.itembox img {
  box-shadow: 2px 1px 10px black;
  border-radius: 16px;
  border: none;
}
.itembox img:hover {
  width: 156px;
  box-shadow: 2px 1px 10px rgb(153, 151, 22);
  border: 3px solid white;
  cursor: pointer;
}
.quote {
  display: flex;
  flex-direction: column;
  padding: 48px 128px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 140px;
  flex-wrap: wrap;
  background-color: rgb(223, 231, 238);
}
.author {
  align-self: flex-end;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 1px;
  color: rgb(5, 127, 127);
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.box {
  color: white;
  background-color: rgb(4, 117, 125);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border-radius: 8px;
  margin: 16px;
  border: 3px solid rgb(0, 73, 73);
}
.box button {
  margin: 0px 32px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 8px 24px;
}
.box button:hover {
  background-color: rgba(255, 255, 255, 0);
  font-weight: 500;
  border: 2px solid wheat;
  cursor: pointer;
}
.bold {
  font-weight: 700;
}
footer {
  height: 80px;
  background-color: rgb(48, 77, 88);
  color: rgb(181, 124, 17);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: rgb(181, 124, 17);
  font-weight: bold;
}
#lorem {
  color: rgb(225, 225, 225);
  font-size: 14px;
}
